---
// Component Imports
import Button from '../components/Button.astro'
import Layout from '../layouts/Layout.astro'
import ButtonStat from '../components/ButtonStat.astro'
import List from '../components/List.astro'
import Card from '../components/Card.astro'
import ListLink from '../components/ListLink.astro'
import Footer from '../components/Footer.astro'
import type { CategoryWithLeaderboardPreview } from '../types'
import { getCategoriesLeaderboardPreview, getLeaderboard } from '../lib/api'
import { Image } from 'astro:assets';
import logoFull from "../../public/logo-h1-spe.png";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/

const leaderboardPreviewByCategory = await getCategoriesLeaderboardPreview()

const leaderboard = await getLeaderboard()
---

<Layout title="Small Page Energy">
    <!-- Hero -->
    <div class="hero w-full h-full pt-24 pb-96">
        <!-- Grid containing elements -->
        <div
            class="hero-container overflow-hidden m-auto w-full h-full grid xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 grid-cols-2 gap-32 items-center justify-center px-16 xs:px-4 sm:px-4 md:px-4"
        >
            <!-- Text + logo -->
            <div class="flex flex-col gap-8 xs:col-span-1 sm:col-span-1 md:col-span-1">
                <div class="flex flex-col gap-10">
					<Image src={logoFull} alt="Logo Small Page Energy." />
                    <div class="hero-text flex flex-col gap-8">
                        <div class="flex gap-4 xs:flex-col sm:flex-col md:flex-col">
                            <h2 class="text-blue600">Le classement des plus petites pages !</h2>
                            <img src="/eggplant.svg" alt="Sticker d'une aubergine" class="eggplant-sticker" />
                        </div>
                        <p class="text-black">
                            Un classement digne de sa taille qui expose les géants du web en fonction du poids de leurs pages. Ce palmarès, qu'il soit par
                            catégorie ou général, est actualisé mensuellement pour rester dans la course folle du numérique.
                        </p>
                        <p class="text-black">Qui aura la plus petite ?</p>
                    </div>
                </div>
                <Button href="" variant="primary" title="Voir le classement général" custom="w-fit" />
            </div>
            <!-- Classement -->
            <div class="w-full xs:col-span-1 sm:col-span-1 md:col-span-1">
                <div class="grid grid-cols-3 mb-8">
                    {
                        (
                            <>
                                <div class="col-span-1 flex flex-col justify-center items-center gap-3 w-full top-[41%] xs:top-[38%] relative">
                                    <p class="brand text-center break-all">{leaderboard[1].website.name}</p>
                                    <ButtonStat weight={`${(leaderboard[1].siteWeight / 1000).toFixed()}Ko`} primary={true} />
                                </div>
                                <div class="col-span-1 flex flex-col justify-center items-center gap-3 w-full">
                                    <p class="brand text-center break-all">{leaderboard[0].website.name}</p>
                                    <ButtonStat weight={`${(leaderboard[0].siteWeight / 1000).toFixed()}Ko`} primary={true} />
                                </div>
                                <div class="col-span-1 flex flex-col justify-center items-center gap-3 w-full top-[72%] xs:top-[66%] relative">
                                    <p class="brand text-center break-all">{leaderboard[2].website.name}</p>
                                    <ButtonStat weight={`${(leaderboard[2].siteWeight / 1000).toFixed()}Ko`} primary={true} />
                                </div>
                            </>
                        )
                    }
                </div>
                <img class="w-full" src="/podium-spe.svg" alt="" />
                <div class="flex flex-col gap-4 mt-4">
                    {
                        leaderboard.slice(3, 6).map((ranking, index, array) => {
                            const hasHr = index !== array.length - 1

                            return (
                                <List
                                    brand={ranking.website.name}
                                    number={`${ranking.rank}.`}
                                    weight={`${(ranking.siteWeight / 1000).toFixed()}Ko`}
                                    hasHr={hasHr}
                                />
                            )
                        })
                    }
                </div>
                <div class="w-full flex flex-row justify-end mt-4">
                    <Button href="" variant="secondary" title="Partager" custom="w-fit" ; icon="share" />
                </div>
            </div>
        </div>
    </div>

    <!-- Card slider -->
    <div class="carousel-container xs:mb-10">
        <div class="splide overflow-hidden">
            <div class="splide__track pt-16">
                <ul class="splide__list">
                    {
                        leaderboardPreviewByCategory.map(category => {
                            if (category.ranks && category.ranks.length > 0) {
                                return (
                                    <li class="splide__slide">
                                        <div class="scaleControll">
                                            <Card name={category.name} ranks={category.ranks} />
                                        </div>
                                    </li>
                                )
                            } else {
                                return null
                            }
                        })
                    }
                </ul>
            </div>
            <div class="splide__arrows flex flex-row justify-center gap-8 fill-gray100 mt-4 z-10">
                <button class="splide__arrow splide__arrow--prev">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" focusable="false"
                        ><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg
                    >
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" focusable="false"
                        ><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg
                    >
                </button>
            </div>
        </div>
    </div>

    <!-- Resources -->
    <section class="resources overflow-hidden pt-[36rem] pr-4 pb-[12rem] pl-4 -mt-[24rem] xs:pt-[28rem] sm:pt-[28rem] md:pt-[28rem]">
        <div
            class="resources-container max-w-screen-xl w-full h-full grid xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 grid-cols-6 gap-5 justify-center items-center m-auto"
        >
            <img
                class="xs:justify-self-center sm:justify-self-center md:justify-self-center col-span-2 w-full justify-self-center"
                src="/woman-with-pc.svg"
                alt="Illustration d'un développeur"
            />
            <div class="resources-text flex flex-col gap-8 col-span-4 justify-self-center">
                <h2 class="text-gray100">
                    La course à la <span class="text-blue500 bg-white px-5 py-1 rounded-full whitespace-nowrap">plus petite</span> commence avec des ressources !
                </h2>
                <img src="/rule.svg" alt="Sticker d'un mètre" class="rule-sticker" />
                <p class="text-gray100 font-normal">
                    Dans un monde où notre empreinte carbone résonne de plus en plus fort, les grandes entreprises, telles que les mastodontes du CAC 40, se
                    livrent à une course effrénée pour s'approprier le titre de champion de l'éco-responsabilité. Mais derrière les discours pompeux, se cache
                    parfois une réalité moins étincelante : le greenwashing.
                </p>
                <p class="text-gray100 font-normal">Pour que tu puisses plus t’informer voici quelques ressources intéressantes :</p>
                <div class="flex flex-col w-full">
                    <ListLink href="https://lowwwcarbon.com/" name="LowwwCarbon case studies" hasHr={true} />
                    <ListLink href="https://www.osuny.org/" name="Osuny" hasHr={true} />
                    <ListLink href="https://www.ecoindex.fr/" name="EcoIndex" hasHr={true} />
                    <ListLink href="https://pagespeed.web.dev/" name="Page speed" hasHr={true} />
                    <ListLink href="https://www.websitecarbon.com/" name="Website carbon" hasHr={false} />
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <Footer background={true} marginTop="-mt-24" />
</Layout>

<style>
    @import '/node_modules/@splidejs/splide/dist/css/splide-core.min.css';

    .hero {
        background: radial-gradient(circle at right bottom, hsla(268, 83%, 63%, 0.4) 0%, rgba(108, 55, 170, 0) 50%),
            radial-gradient(circle at left top, rgba(155, 82, 239, 0.4) 0%, rgba(108, 55, 170, 0) 50%),
            radial-gradient(circle at center, rgba(145, 224, 255, 0.5) 0%, rgba(145, 224, 255, 0) 85%);

        .hero-container {
            max-width: 1320px;
        }

        .hero-text {
            position: relative;
        }
    }

    .eggplant-sticker {
        display: none;
        @media (min-width: 769px) {
            display: block;
            position: absolute;
            top: -3rem;
            right: -4rem;
            width: 20%;
        }
    }

    .resources {
        position: relative;

        background: radial-gradient(50% 110% at 95% 40%, rgba(99, 70, 243, 0.7) 25%, rgba(108, 55, 170, 0) 50%),
            radial-gradient(50% 100% at left center, rgba(255, 0, 168, 0.5) 5%, rgba(108, 55, 170, 0) 100%),
            radial-gradient(circle at center, rgb(53, 32, 157) 100%, rgba(145, 224, 255, 0) 100%);

        .resources-text {
            max-width: 640px;
            position: relative;
        }

        img {
            max-width: 300px;
        }

        .rule-sticker {
            display: none;

            @media (min-width: 769px) {
                display: block;
                position: absolute;
                top: -7rem;
                right: 2rem;
                width: 15%;
            }
        }
    }

    .carousel-container {
        position: relative;
        margin: -22.1rem 0;
        z-index: 1;
    }
    .resources {
        position: relative;
    }

    .splide__arrow--prev svg {
        transform: scaleX(-1);
    }

    .splide__slide {
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
    }

    .splide__slide.is-active {
        position: relative;
        transform: translateY(-50px);
    }
</style>

<script>
    import '/node_modules/@splidejs/splide/dist/js/splide.min.js'

    import Splide from '@splidejs/splide'

	let splide = new Splide('.splide', {
    type: 'loop',
    perPage: 4,
    focus: 'center',
    pagination: false,
    gap: 32,
    live: false,
    classes: {
        prev: 'splide__arrow--prev btn-prev'
    },
    breakpoints: {
        1600: {
            perPage: 4,
            gap: 32
        },
        1200: {
            perPage: 3,
            gap: 32
        },
		992: {
            perPage: 2,
            gap: 32
        },
		768: {
            perPage: 2,
            gap: 32
        },
        640: {
            perPage: 1,
            gap: 12
        }
    }
});

    splide.mount()
</script>
