---
// Component Imports
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
import ButtonStat from '../components/ButtonStat.astro';
import List from '../components/List.astro';
import Card from '../components/Card.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout title="Small Page Energy">
	<!-- Hero -->
	<div class="hero w-full h-full pt-16 pb-64">
		<!-- Grid cotaining elements -->
		<div class="w-full h-full grid grid-cols-12 gap-5 items-center justify-center px-16">
			<!-- Text + logo -->
			<div class="flex flex-col gap-8 col-start-2 col-span-5 ">
				<div class="flex flex-col gap-10">
					<img src="/logo-h1-spe.png" alt="">
					<div class="flex flex-col gap-8">
						<h2 class="text-blue600">Qui aura la plus petite ?</h2>
						<p class="text-black">Un classement digne de sa taille qui expose les géants du web en fonction du poids de leurs pages. Ce palmarès, qu'il soit par catégorie ou général, est actualisé mensuellement pour rester dans la course folle du digital.</p>
						<Button href="" primary={true} secondary={false} tertiary={false} title="Voir le classement général"></Button>
					</div>
				</div>
			</div>
			<!-- Classement -->
			<div class="flex flex-col gap-4 col-start-8 col-span-4">
				<div class="w-full">
					<div class="grid grid-cols-3 mb-4">
						<div class="col-span-1 flex flex-col justify-center items-center gap-3 w-full top-second relative">
							<img src="/peugeot-logo.png" alt="" class="logo-entreprise max-h-16 w-auto">
							<p class="brand text-center break-all">Brand</p>
							<ButtonStat weight="32Ko" primary={true}}></ButtonStat>
						</div>
						<div class="col-span-1 flex flex-col justify-center items-center gap-3 w-full">
							<img src="/peugeot-logo.png" alt="" class="logo-entreprise max-h-16 w-auto">
							<p class="brand text-center break-all">Brand</p>
							<ButtonStat weight="32Ko" primary={true}></ButtonStat>
						</div>
						<div class="col-span-1 flex flex-col justify-center items-center gap-3 w-full top-third relative">
							<img src="/peugeot-logo.png" alt="" class="logo-entreprise max-h-16 w-auto">
							<p class="brand text-center break-all">Brand</p>
							<ButtonStat weight="32Ko" primary={true}></ButtonStat>
						</div>
					</div>
					<img class="w-full" src="/podium-spe.svg" alt="">
					<div class="flex flex-col gap-4 mt-4">
						<List brand="Renault" number="4." weight="320Ko" hasHr={true}></List>
						<List brand="Citroën" number="5." weight="200Ko" hasHr={true}></List>
						<List brand="Hello Bank" number="6." weight="1Go" hasHr={false}></List>
					</div>
					<div class="w-full flex flex-row justify-end mt-4">
						<Button href="" primary={false} secondary={true} tertiary={false} title="Partager"></Button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Card slider -->
	<div class="carousel-container">
		<div class="splide overflow-hidden">
			<div class="splide__track py-8">
				<ul class="splide__list">
					<!-- <li class="splide__slide bg-blue300 h-60">Slide 01</li>
					<li class="splide__slide bg-blue300 h-60">Slide 02</li>
					<li class="splide__slide bg-blue300 h-60">Slide 03</li>
					<li class="splide__slide bg-blue300 h-60">Slide 04</li>
					<li class="splide__slide bg-blue300 h-60">Slide 06</li>
					<li class="splide__slide bg-blue300 h-60">Slide 05</li>
					<li class="splide__slide bg-blue300 h-60">Slide 07</li>
					<li class="splide__slide bg-blue300 h-60">Slide 08</li>
					<li class="splide__slide bg-blue300 h-60">Slide 09</li>
					<li class="splide__slide bg-blue300 h-60">Slide 10</li> -->
					<li class="splide__slide"><div class="scaleControll"><Card></Card></div></li>
					<li class="splide__slide"><div class="scaleControll"><Card></Card></div></li>
					<li class="splide__slide"><div class="scaleControll"><Card></Card></div></li>
					<li class="splide__slide"><div class="scaleControll"><Card></Card></div></li>
					<li class="splide__slide"><div class="scaleControll"><Card></Card></div></li>
					<li class="splide__slide"><div class="scaleControll"><Card></Card></div></li>
					<li class="splide__slide"><div class="scaleControll"><Card></Card></div></li>
					<li class="splide__slide"><div class="scaleControll"><Card></Card></div></li>
					<li class="splide__slide"><div class="scaleControll"><Card></Card></div></li>
					<li class="splide__slide"><div class="scaleControll"><Card></Card></div></li>
				</ul>
			</div>
			<div class="splide__arrows flex flex-row justify-center gap-8 fill-blue200">
				<button class="splide__arrow splide__arrow--prev">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" focusable="false"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg>
				</button>
				<button class="splide__arrow splide__arrow--next">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" focusable="false"><path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"></path></svg>
				</button>
				
			</div>
		</div>
	</div>
	<!-- Resources -->
	<div class="resources w-full h-screen pt-16 pb-64">
		<!-- Grid cotaining elements -->
		<div class="w-full h-full grid grid-cols-12 gap-5 items-center justify-center px-16">
			<!-- Img -->
			<div class="flex flex-col gap-8 col-start-2 col-span-3 ">
				
			</div>
			<!-- Text + Liens Resources -->
			<div class="flex flex-col gap-4 col-start-6 col-span-6">
				
			</div>
		</div>
	</div>
</Layout>

<style>
	@import '/node_modules/@splidejs/splide/dist/css/splide-core.min.css';

	.hero{
		background: 
			radial-gradient(circle at right bottom, hsla(268, 83%, 63%, 0.4) 0%, rgba(108, 55, 170, 0.00) 50%),
			radial-gradient(circle at left top, rgba(155, 82, 239, 0.40) 0%, rgba(108, 55, 170, 0.00) 50%),
			radial-gradient(circle at center, rgba(145, 224, 255, 0.50) 0%, rgba(145, 224, 255, 0.00) 85%); 
			/* 200% */
	}
	.resources{
		background: 
			radial-gradient(ellipse at right bottom, hsla(268, 83%, 63%, 0.4) 0%, rgba(108, 55, 170, 0.00) 50%),
			radial-gradient(ellipse at left center, rgba(99, 70, 243, 0.70) 0%, rgba(108, 55, 170, 0.00) 50%),
			radial-gradient(circle at center, rgb(53, 32, 157) 0%, rgba(145, 224, 255, 0.00) 200%); 
	}

	.top-second{
		top: 41%;
	}
	.top-third{
		top: 76%;
	}

	.carousel-container{
		position: relative;
		top: -12rem;
	}

	.splide__arrow--prev svg{
		transform: scaleX(-1);
	}

	.splide__track{
		width: 120%;
        margin: 0 -10%;
	}

	.splide__slide{
		transform: scale(1);
		transform-origin: center;
		transition: transform 0.3s ease-in-out;
	}

	.splide__slide.is-active{
		position: relative;
		transform: scale(1.1);
	}

</style>

<script>
	import "/node_modules/@splidejs/splide/dist/js/splide.min.js";

	import Splide from '@splidejs/splide';

	var splide = new Splide( '.splide', {
	type   : 'loop',
	perPage: 5,
	focus  : 'center',
	pagination: false,
	gap: 32,
	live: false,
	classes: {
		prev  : 'splide__arrow--prev btn-prev',
	},
	} );

	splide.mount();
</script>