---
// Button
interface Props {
    title: string
    href: string
    custom?: string
    icon?: string
    variant?: 'primary' | 'secondary' | 'tertiary'
    isBlank?: boolean
}

const { custom, title, href, icon, variant, isBlank = false } = Astro.props
---

{
    variant == 'primary' ? (
        isBlank ?(
            <a href={href} target="_blank" class={`primary-btn nav-link text-gray100 bg-blue400 text-center flex flex-row gap-2 justify-center w-fit ${custom} items-center hover:bg-blue600 transition`}>
                <div class={`icon ${icon}`} />
                {title}
            </a>
            ) : <a href={href} class={`primary-btn nav-link text-gray100 bg-blue400 text-center flex flex-row gap-2 justify-center w-fit ${custom} items-center hover:bg-blue600 transition`}>
                    <div class={`icon ${icon}`} />
                    {title}
                </a>
    ) : variant == 'secondary' ? (
        isBlank ?(
            <a href={href} target="_blank" class={`secondary-btn nav-link text-blue500 bg-gray100 text-center flex flex-row gap-2 w-fit ${custom} items-center hover:bg-purple200 hover:text-gray100 transition`}>
                <div class={`icon ${icon}`} />
                {title}
            </a>
            ) : <a href={href} class={`secondary-btn nav-link text-blue500 bg-gray100 text-center flex flex-row gap-2 w-fit ${custom} items-center hover:bg-purple200 hover:text-gray100 transition`}>
                    <div class={`icon ${icon}`} />
                    {title}
                </a>
    ) : (
        variant == 'tertiary' && (
            isBlank ?(
                <a href={href} target="_blank" class={`tertiary-btn nav-link text-gray100 bg-pink100 text-center mx-auto flex flex-row gap-2 w-fit ${custom} items-center hover:bg-blue200 transition`}>
                    <div class={`icon ${icon}`} />
                    {title}
                </a>
            ): <a href={href} target="_blank" class={`tertiary-btn nav-link text-gray100 bg-pink100 text-center mx-auto flex flex-row gap-2 w-fit ${custom} items-center hover:bg-blue200 transition`}>
                    <div class={`icon ${icon}`} />
                    {title}
                </a>
        )
    )
}

<style>
    .primary-btn {
        border-radius: 100px;
        padding: 1rem 1.375rem;

        font-size: 1.125rem;

        .icon {
            background-color: #fff;
        }
    }
    .secondary-btn {
        border-radius: 100px;
        padding: 0.875rem 1.5rem;

        font-size: 1.125rem;

        .icon {
            background-color: #35209d;
        }
    }
    .secondary-btn:hover{
        .icon{
            background-color: #fff;
        }
    }
    .tertiary-btn {
        border-radius: 100px;
        padding: 1rem 1.375rem;

        font-size: 1.125rem;

        .icon {
            background-color: #fff;
        }
    }

    .secondary-active {
        background-color: #492ECB;
        color: #fff;
    }

    .icon {
        display: none;
    }

    .share {
        display: block;
        width: 24px;
        height: 24px;
        -webkit-mask: url('/share-icon.svg') no-repeat center;
        mask: url('/share-icon.svg') no-repeat center;
    }
    .instagram {
        display: block;
        width: 24px;
        height: 24px;
        -webkit-mask: url('/instagram-icon.svg') no-repeat center;
        mask: url('/instagram-icon.svg') no-repeat center;
    }
    .twitter {
        display: block;
        width: 24px;
        height: 24px;
        -webkit-mask: url('/x-icon.svg') no-repeat center;
        mask: url('/x-icon.svg') no-repeat center;
    }

    .download {
        display: block;
        width: 24px;
        height: 24px;
        -webkit-mask: url('/download-icon.svg') no-repeat center;
        mask: url('/download-icon.svg') no-repeat center;
    }
</style>
