---
// List
import ButtonStat from "../components/ButtonStat.astro"

interface Props {
  brand: string
  number: string
  weight: string
  hasHr: boolean
  href: string
}

const { brand, number, weight, hasHr, href } = Astro.props
---

<div  class="w-full flex flex-col gap-2">
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-row gap-4 items-center">
      <p class="number text-blue300 w-12">{number}</p>
      <a href={href} class="text-black brand hover:underline underline-offset-4 decoration-auto decoration-pink100">{brand}</a>
    </div>
    <ButtonStat weight={weight} primary={false} } />
  </div>
  {hasHr && <hr class="opacity-30" />}
</div>

<style>
  hr {
  }

  .brand {
    font-size: 1rem;
    font-weight: bold;
  }
</style>
