---
// Rank
import ButtonStat from '../components/ButtonStat.astro'
import type { CategoriesLeaderboardPreview } from '../types/api/getCategoriesLeaderboardPreview'
import type { Category } from '../types/api/getLeaderboard'

interface Props {
    rank: string
    name: string
    categories: Category[]
    region?: string
    type?: string
    weight: number
    hasBorder?: boolean
}

const { rank, name, categories, region = 'Unknown', type = 'Unknown', weight, hasBorder = true } = Astro.props
---

{
    hasBorder ? (
        <div class="w-full flex gap-15 border-b-2 border-blue200 border-solid items-center justify-between">
            <p class="text-center number text-blue300 w-1/6 py-2">{rank}</p>
            <p class="text-center text-lg font-bold w-1/4 py-2">{name}</p>
            <p class="text-center text-lg font-bold py-2 w-1/4">
                {categories.map(e => (
                    <a href={`/${e.slug}`} class="category-link">{e.name}</a>
                ))}
            </p>
            <p class="text-center text-lg font-bold w-1/4 py-2">{`${(weight / 1000).toFixed()}Ko`}</p>
        </div>
    ) : (
        <div class="w-full flex gap-15 items-center justify-between">
            <p class="text-center number text-blue300 w-1/6 py-2">{rank}</p>
            <p class="text-center text-lg font-bold w-1/4 py-2">{name}</p>
            <p class="text-center text-lg font-bold w-1/4 py-2">
                {categories.map(e => (
                    <a href={`/${e.slug}`} class="category-link">{e.name}</a>
                ))}
            </p>
            <p class="text-center text-lg font-bold w-1/4 py-2">{`${(weight / 1000).toFixed()}Ko`}</p>
        </div>
    )
}

<style>
    .category-link:not(:last-of-type)::after{
        content: ', ';
    }
</style>